@charset "UTF-8";
.btn-new-color {
  color: #fff;
  border-color: #881d34 !important;
  background-color: #fe315f !important;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08) !important; }

.jumbotron-hero {
  background-image: url("/images/bg_hero.png");
  background-size: cover;
  border-radius: 0 !important; }

.jumbotron {
  padding: 3rem 1rem;
  margin-bottom: 0rem;
  background-color: #fe315f;
  border-radius: 0.3rem; }
  .jumbotron img {
    object-fit: cover;
    width: 100%;
    max-width: 550px;
    height: auto; }

.jumbotron-hard {
  padding: 2rem 1rem;
  background-color: #f8941f;
  border-radius: 0.3rem; }
  .jumbotron-hard img {
    object-fit: cover;
    width: 100%;
    max-width: 550px;
    height: auto; }

.bg-footer {
  background-color: #650085 !important;
  color: #ffffff; }

.cat-img {
  position: absolute;
  width: 100%;
  height: auto;
  top: -170; }

.img-footer {
  max-width: 100%;
  height: auto;
  margin-top: -100px; }

.bg-fuchsia-app {
  background-color: #ec2d60; }

.opaque-navbar {
  background-color: #650085;
  border-bottom: 0px;
  transition: background-color .5s ease 0s; }

.btn-block {
  display: block;
  width: 100%; }

.fixed-navbar {
  position: fixed;
  z-index: 1030;
  top: 0;
  right: 0;
  left: 0; }

.modal__form {
  color: #ffffff; }
  .modal__form input {
    border-radius: 50px; }
  .modal__form select {
    border-radius: 50px; }

.modalEllos {
  background: #fe315f; }

.modalEllas {
  color: #414141;
  background: #5bffe0; }

/* SHAKE */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    transform: translate(1px, 2px) rotate(0deg); }
  100% {
    transform: translate(1px, -2px) rotate(-1deg); } }

@keyframes change {
  0% {
    background: #fe315f;
    transform: rotate(5deg); }
  10% {
    background: #715ae2;
    transform: rotate(0deg); }
  20% {
    background: #f8941f;
    transform: rotate(15deg); }
  30% {
    background: #5bffe0;
    transform: rotate(-15deg); }
  40% {
    background: #ffffff;
    transform: rotate(0deg); }
  50% {
    background: #414141;
    transform: rotate(20deg); }
  60% {
    background: #fef102;
    transform: rotate(0deg); }
  70% {
    background: #0ab798;
    transform: rotate(15deg); }
  80% {
    background: #650085;
    transform: rotate(0deg); }
  90% {
    background: #ec94ca;
    transform: rotate(-10deg); }
  100% {
    background: #f8941f;
    transform: rotate(0deg); } }

@font-face {
  font-family: 'leahGaviotaBold';
  src: url("/fonts/LeahGaviotaBold.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */ }

body {
  font-family: 'leahGaviotaBold';
  color: #414141; }

.form-control::-webkit-input-placeholder {
  color: #bbb;
  opacity: 0.75; }

.btn {
  border-radius: 50px;
  border: none;
  background: #f8941f;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08) !important; }
  .btn:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite; }

.compra__entradas {
  background: #fe315f;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  margin: 0 auto; }
  @media only screen and (max-width: 640px) {
    .compra__entradas {
      width: 250px;
      height: 250px; } }
  .compra__entradas img {
    width: 60%;
    object-fit: contain; }
  .compra__entradas .compra__ellas {
    border-radius: 50%;
    background: #5bffe0; }
  .compra__entradas a:hover {
    animation: change 1.5s;
    animation-iteration-count: infinite; }
  .compra__entradas:hover ~ .btn {
    background: #f8941f;
    color: #ffffff; }

.llamas:before {
  content: " ";
  background: url("/images/llamas.jpg") no-repeat;
  background-size: contain;
  width: 60px;
  height: 40px;
  display: inline-block; }

.llamas:after {
  content: " ";
  background: url("/images/llamas.jpg") no-repeat;
  background-size: contain;
  width: 60px;
  height: 40px;
  display: inline-block;
  transform: rotate(30deg); }

.cuernos:before {
  content: " ";
  background: url("/images/cuernos.jpg") no-repeat;
  background-size: contain;
  width: 60px;
  height: 40px;
  display: inline-block;
  margin-bottom: 20px; }

.cuernos:after {
  content: " ";
  background: url("/images/cuernos.jpg") no-repeat;
  background-size: contain;
  width: 60px;
  height: 40px;
  display: inline-block;
  margin-bottom: 20px; }

.cuernos:after {
  transform: scaleX(-1); }

@media only screen and (max-width: 640px) {
  .cuernos:after, .cuernos:before {
    display: none; } }

.contacto {
  background: #0ab798;
  color: #ffffff; }
  .contacto a {
    color: #fef102; }
