
/* SHAKE */

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes change {
  0% { background: $red;
    transform: rotate(5deg); }
  10% { background: $morado;
    transform: rotate(0deg); }
  20% { background: $orange;
    transform: rotate(15deg); }
  30% { background: $aqua;
    transform: rotate(-15deg);}
  40% { background: $white;
    transform: rotate(0deg);}
  50% { background: $gray;
    transform: rotate(20deg);}
  60% { background: $yellow;
    transform: rotate(0deg);}
  70% { background: $green;
    transform: rotate(15deg)}
  80% { background: $violet;
    transform: rotate(0deg); }
  90% {
    background: $pink;
    transform: rotate(-10deg); }
  100% { 
    background: $orange;
    transform: rotate(0deg); }
}
