.btn-new-color
{
    color: #fff;
    border-color: #881d34 !important;
    background-color: rgb(254, 49, 95) !important;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08) !important;
}
.jumbotron-hero{
    background-image: url("/images/bg_hero.png");
    background-size: cover;
    border-radius: 0 !important;
}

.jumbotron {
    padding: 3rem 1rem;
    margin-bottom: 0rem;
    background-color: #fe315f;
    border-radius: 0.3rem;

    img{
        object-fit:cover;
        width: 100%;
        max-width: 550px;
        height: auto;
    }
}

.jumbotron-hard {
    padding: 2rem 1rem;
    // margin-bottom: 2rem;
    background-color: #f8941f;
    border-radius: 0.3rem;
    img{
        object-fit:cover;
        width: 100%;
        max-width: 550px;
        height: auto;
    }
}

.bg-footer {
    background-color: #650085 !important;
    color: $white;
}
.cat-img{
    position: absolute;
    width: 100%;
    height: auto;
    top: -170;
}

.img-footer{
    max-width: 100%;
    height: auto;
    margin-top: -100px;
}
.bg-fuchsia-app{
    background-color: #ec2d60;
}

.opaque-navbar {
    background-color: $violet;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}
.btn-block {
    display: block;
    width: 100%;
}
.fixed-navbar {
    position: fixed; 
    z-index: 1030;
    top: 0;
    right: 0;
    left: 0;
}