$red	: #fe315f;
$gray	: #414141;
$aqua	: #5bffe0;
$white	: #ffffff;
$orange	: #f8941f;
$morado	: #715ae2;
$yellow	: #fef102;
$green	: #0ab798;
$violet	: #650085;
$pink	: #ec94ca;


@import "nadvar";
@import "modal";
@import "animations";

@font-face {
    font-family: 'leahGaviotaBold';
    src: 
     url('/fonts/LeahGaviotaBold.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
  }

  body { 
  	font-family: 'leahGaviotaBold';
  	color: $gray;
  }

.form-control::-webkit-input-placeholder {
  color: #bbb;
  opacity: 0.75;
}

.btn{
	border-radius: 50px;
	border: none;
	background: $orange;
	box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08) !important;

	&:hover{
	animation: shake 0.5s;
	animation-iteration-count: infinite;
	}
}

.compra__entradas{
	background: $red;
	width: 350px;
	height: 350px;
	border-radius: 50%;
	margin: 0 auto;
	
	@media only screen and (max-width: 640px){
		width: 250px;
		height: 250px; 
	}
	
	img{
		width: 60%;
		object-fit: contain;
	}

	.compra__ellas{
		border-radius: 50%;
		background: $aqua;
	}

	a:hover{
			animation: change 1.5s;
			animation-iteration-count: infinite;
	}

	&:hover ~ .btn{
			background: $orange;
			color: $white;
			;
		}
	
}

.llamas{
	&:before{
	  content: " ";
	  background: url("/images/llamas.jpg") no-repeat;
	  background-size: contain;
	  width: 60px;
	  height: 40px;
	  display: inline-block;
		}
	&:after{
	  content: " ";
	  background: url("/images/llamas.jpg") no-repeat;
	  background-size: contain;
	  width: 60px;
	  height: 40px;
	  display: inline-block;
	  transform: rotate(30deg);
		}

}

.cuernos{
	&:before{
	  content: " ";
	  background: url("/images/cuernos.jpg") no-repeat;
	  background-size: contain;
	  width: 60px;
	  height: 40px;
	  display: inline-block;
	  margin-bottom: 20px;
	}
	&:after{
	  content: " ";
	  background: url("/images/cuernos.jpg") no-repeat;
	  background-size: contain;
	  width: 60px;
	  height: 40px;
	  display: inline-block;
	  margin-bottom: 20px;
	}
	&:after{
		transform: scaleX(-1)
	}
	@media only screen and (max-width: 640px){
		&:after, &:before{
			display: none
		}
	}
}

.contacto{
	background: $green;
	color: $white;

	a{
		color: $yellow
	}
}